Repository gavinhow/spotify-tracker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.backend.yml, azure-pipelines.trackimportfunction.yml

Path conditions:
  azure-pipelines.backend.yml: any of: Services/Gavinhow.SpotifyStatistics.Web
  azure-pipelines.trackimportfunction.yml: any of: Services/Gavinhow.SpotifyStatistics.ImportFunction

Merged PR 32: Update Web to .Net 6
  Services/Gavinhow.SpotifyStatistics.Tests/Gavinhow.SpotifyStatistics.Tests.csproj
  Services/Gavinhow.SpotifyStatistics.Tests/InMemoryDbContextFactory.cs
  Services/Gavinhow.SpotifyStatistics.Tests/UnitTest1.cs
  Services/Gavinhow.SpotifyStatistics.Web.Tests/Controllers/UserControllerTest.cs
  Services/Gavinhow.SpotifyStatistics.Web.Tests/CustomWebApplicationFactory.cs
  Services/Gavinhow.SpotifyStatistics.Web.Tests/Gavinhow.SpotifyStatistics.Web.Tests.csproj
  Services/Gavinhow.SpotifyStatistics.Web.Tests/TestAuthHandler.cs
  Services/Gavinhow.SpotifyStatistics.Web.Tests/Utilities.cs
  Services/Gavinhow.SpotifyStatistics.Web/Gavinhow.SpotifyStatistics.Web.csproj
  Services/SpotifyStatistics.sln
  azure-pipelines.backend.yml
Due: azure-pipelines.backend.yml

Update function app to use postgres
  Services/Gavinhow.SpotifyStatistics.Api/Gavinhow.SpotifyStatistics.Api.csproj
  Services/Gavinhow.SpotifyStatistics.Database/Gavinhow.SpotifyStatistics.Database.csproj
  Services/Gavinhow.SpotifyStatistics.Database/Migrations/20181220234238_Add_user_and_play_table.Designer.cs
  Services/Gavinhow.SpotifyStatistics.Database/Migrations/20190106013341_Add_user_display_name.Designer.cs
  Services/Gavinhow.SpotifyStatistics.Database/Migrations/20190125001523_Add track, artisttrack and artistalbum.Designer.cs
  Services/Gavinhow.SpotifyStatistics.Database/Migrations/20200704205523_AddFriendsTable.Designer.cs
  Services/Gavinhow.SpotifyStatistics.Database/Migrations/SpotifyStatisticsContextModelSnapshot.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/Gavinhow.SpotifyStatistics.ImportFunction.csproj
  Services/Gavinhow.SpotifyStatistics.ImportFunction/Startup.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/host.json
  Services/Gavinhow.SpotifyStatistics.Web/Gavinhow.SpotifyStatistics.Web.csproj
Due: azure-pipelines.backend.yml, azure-pipelines.trackimportfunction.yml

Update azure-pipelines.trackimportfunction.yml for Azure Pipelines
  azure-pipelines.trackimportfunction.yml
Due: none

Update to windows-latest agent
  azure-pipelines.trackimportfunction.yml
Due: none

Update backend web service to use postgres
  Services/Gavinhow.SpotifyStatistics.ImportFunction/Startup.cs
  Services/Gavinhow.SpotifyStatistics.Web.Tests/Gavinhow.SpotifyStatistics.Web.Tests.csproj
  Services/Gavinhow.SpotifyStatistics.Web/Startup.cs
Due: azure-pipelines.backend.yml, azure-pipelines.trackimportfunction.yml

EnableLegacyTimestampBehavior
  Services/Gavinhow.SpotifyStatistics.Web/Startup.cs
Due: azure-pipelines.backend.yml

feat: add image url to track
  Services/Gavinhow.SpotifyStatistics.Web/Controllers/TrackController.cs
Due: azure-pipelines.backend.yml

refactor: make all actions async
  Services/Gavinhow.SpotifyStatistics.Api/SpotifyApiFacade.cs
  Services/Gavinhow.SpotifyStatistics.Web/Controllers/AlbumController.cs
  Services/Gavinhow.SpotifyStatistics.Web/Controllers/ArtistController.cs
  Services/Gavinhow.SpotifyStatistics.Web/Controllers/PlaysController.cs
  Services/Gavinhow.SpotifyStatistics.Web/Controllers/TrackController.cs
Due: azure-pipelines.backend.yml

fix: remove .result usage for credentials retrieval
  Services/Gavinhow.SpotifyStatistics.Api/SpotifyApiFacade.cs
Due: none

feat: add get plays endpoint
  Services/Gavinhow.SpotifyStatistics.Web/Controllers/PlaysController.cs
Due: azure-pipelines.backend.yml

add switch on startup for database type
  Services/Gavinhow.SpotifyStatistics.Web/Startup.cs
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
Due: azure-pipelines.backend.yml

build: add development terraform files
  infrastructure/.gitignore
  infrastructure/live/dev/db/.terraform.lock.hcl
  infrastructure/live/dev/db/terragrunt.hcl
  infrastructure/live/dev/env.hcl
  infrastructure/live/dev/import/.terraform.lock.hcl
  infrastructure/live/dev/import/terragrunt.hcl
  infrastructure/modules/db/main.tf
  infrastructure/modules/db/providers.tf
  infrastructure/modules/db/variables.tf
  infrastructure/modules/import/function_app.tf
  infrastructure/modules/import/logic_app.tf
  infrastructure/modules/import/providers.tf
  infrastructure/modules/import/variables.tf
  infrastructure/terragrunt.hcl
Due: none

ci: add basic terraform validation and deployment
  .github/workflows/main.yml
Due: none

ci: enable to run on test branch
  .github/workflows/main.yml
Due: none

ci: update path to be relative to github workspace
  .github/workflows/main.yml
Due: none

ci: update init to be run-all
  .github/workflows/main.yml
Due: none

ci: terragrunt path is relative to root already
  .github/workflows/main.yml
Due: none

ci: update checkout to be v3
  .github/workflows/main.yml
Due: none

ci: set actions binary to run-all
  .github/workflows/main.yml
Due: none

ci: disable az cli for terraform
  .github/workflows/main.yml
Due: none

ci: print out az version debugging
  .github/workflows/main.yml
Due: none
