Repository gavinhow/spotify-tracker: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines.backend.yml, azure-pipelines.trackimportfunction.yml

azure-pipelines.backend.yml:
  stages:
  - stage: Build
    pool:
      vmImage: windows-latest
    jobs:
    - job: Build
      variables:
        solution: '**/*.sln'
        buildPlatform: Any CPU
        buildConfiguration: Release
      steps:
      - task: DotNetCoreCLI@2
        inputs:
          command: build
  ...

azure-pipelines.trackimportfunction.yml:
  stages:
  - stage: Build
    displayName: Build stage
    jobs:
    - job: Build
      displayName: Build
      pool:
        vmImage: $(vmImageName)
      steps:
      - task: DotNetCoreCLI@2
        displayName: Build
        inputs:
          command: build
          projects: '$(workingDirectory)/*.csproj
  
            '
  ...

Update actions/download-artifact to v4
  .github/workflows/backend-deploy.yml
  .github/workflows/function_app-deploy.yml
  .github/workflows/logic_app-deploy.yml
  .github/workflows/terraform-deploy.yml
Due: none

refactor: update delay interval, improve user history import logic, and adjust API URL in docs
  Services/Gavinhow.SpotifyStatistics.Importer/SpotifyImporter.cs
  Services/Gavinhow.SpotifyStatistics.Importer/Worker.cs
  docs/docker-setup.md
Due: none

fix: add error handling for user and track import processes
  Services/Gavinhow.SpotifyStatistics.Importer/SpotifyImporter.cs
  Services/Gavinhow.SpotifyStatistics.Importer/Worker.cs
Due: none

refactor: optimize duplicate play detection and batch insert logic in Spotify import process
  Services/Gavinhow.SpotifyStatistics.Importer/SpotifyImporter.cs
Due: none

ci: add Promtail logging labels to docker-compose.prod.yml
  .github/workflows/backend.yml
  .github/workflows/function_app.yml
  .github/workflows/logic_app.yml
  docker-compose.prod.yml
Due: none

feat: add JSON console logging to Importer and Web projects
  Services/Gavinhow.SpotifyStatistics.Importer/Program.cs
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
Due: azure-pipelines.backend.yml

feat: integrate Prometheus metrics and health checks into Web project
  Services/Gavinhow.SpotifyStatistics.Web/Gavinhow.SpotifyStatistics.Web.csproj
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
Due: azure-pipelines.backend.yml

chore: update default logging level to Information in appsettings.json
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
Due: azure-pipelines.backend.yml

feat: add user import tracking, disable logic, and max failure configuration
  .claude/settings.local.json
  Services/Gavinhow.SpotifyStatistics.Api/Services/ImportStatusService.cs
  Services/Gavinhow.SpotifyStatistics.Api/Settings/ImportSettings.cs
  Services/Gavinhow.SpotifyStatistics.Database.Entity/ImportLog.cs
  Services/Gavinhow.SpotifyStatistics.Database.Entity/User.cs
  Services/Gavinhow.SpotifyStatistics.Database/Migrations/20250803093109_AddImportTrackingAndUserDisable.Designer.cs
  Services/Gavinhow.SpotifyStatistics.Database/Migrations/20250803093109_AddImportTrackingAndUserDisable.cs
  Services/Gavinhow.SpotifyStatistics.Database/SpotifyStatisticsContext.cs
  Services/Gavinhow.SpotifyStatistics.Importer/Program.cs
  Services/Gavinhow.SpotifyStatistics.Importer/SpotifyImporter.cs
  Services/Gavinhow.SpotifyStatistics.Importer/appsettings.json
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
  Services/Gavinhow.SpotifyStatistics.Web/Services/UserService.cs
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
Due: azure-pipelines.backend.yml

feat: add data anonymization, dump, and restore scripts for PostgreSQL migration tasks
  scripts/.env.example
  scripts/.gitignore
  scripts/anonymize-data.js
  scripts/dump-data.js
  scripts/package-lock.json
  scripts/package.json
  scripts/restore-data.js
Due: none

chore: update dependencies in pnpm-lock.yaml and package.json to latest versions
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

chore: upgrade TargetFramework to net8.0 in Database project
  Services/Gavinhow.SpotifyStatistics.Database/Gavinhow.SpotifyStatistics.Database.csproj
Due: none

chore: add .dockerignore and enhance Dockerfile for better layer caching and configuration flexibility
  .dockerignore
  Services/Dockerfile.web
Due: none

chore: remove standalone output option from Next.js configuration
  frontend/next.config.ts
Due: none

chore: remove commented-out HTTPS redirection logic in Web project and update CLAUDE.md with expanded project details
  CLAUDE.md
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
Due: azure-pipelines.backend.yml

feat: add configurable CORS support to Web project
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
Due: azure-pipelines.backend.yml

chore: update launchSettings.json to use HTTPS with localhost configuration
  Services/Gavinhow.SpotifyStatistics.Web/Properties/launchSettings.json
Due: azure-pipelines.backend.yml

feat: add JWT issuer and audience validation, and introduce CORS settings configuration
  Services/Gavinhow.SpotifyStatistics.Web/Controllers/UserController.cs
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
  Services/Gavinhow.SpotifyStatistics.Web/Settings/AppSettings.cs
  Services/Gavinhow.SpotifyStatistics.Web/Settings/CorsSettings.cs
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
Due: azure-pipelines.backend.yml

chore: reset Spotify API configuration values in appsettings.json to placeholders
  Services/Gavinhow.SpotifyStatistics.Importer/appsettings.json
Due: none

feat: add azure queue and table support for play import
  Services/Gavinhow.SpotifyStatistics.Api/Gavinhow.SpotifyStatistics.Api.csproj
  Services/Gavinhow.SpotifyStatistics.Api/Models/UserPlaysQueueMessage.cs
  Services/Gavinhow.SpotifyStatistics.Api/Models/UserTokenTableEntity.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/FetchAndEnqueuePlaysFunction.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/Gavinhow.SpotifyStatistics.ImportFunction.csproj
  Services/Gavinhow.SpotifyStatistics.ImportFunction/GetSignedInUsers.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/ImportTrackInformation.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/ImportUserHistory.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/Program.cs
  Services/Gavinhow.SpotifyStatistics.ImportFunction/Startup.cs
  Services/Gavinhow.SpotifyStatistics.Web/BackgroundServices/QueueConsumerBackgroundService.cs
  Services/Gavinhow.SpotifyStatistics.Web/BackgroundServices/UserTokenSyncBackgroundService.cs
  Services/Gavinhow.SpotifyStatistics.Web/Gavinhow.SpotifyStatistics.Web.csproj
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
  Services/Gavinhow.SpotifyStatistics.Web/Services/IPlaysQueueProcessor.cs
  Services/Gavinhow.SpotifyStatistics.Web/Services/IUserTokenStore.cs
  Services/Gavinhow.SpotifyStatistics.Web/Services/PlaysQueueProcessor.cs
  Services/Gavinhow.SpotifyStatistics.Web/Services/UserService.cs
  Services/Gavinhow.SpotifyStatistics.Web/Services/UserTokenStore.cs
  Services/Gavinhow.SpotifyStatistics.Web/Settings/QueueSettings.cs
  Services/Gavinhow.SpotifyStatistics.Web/Settings/TableStorageSettings.cs
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
Due: azure-pipelines.backend.yml, azure-pipelines.trackimportfunction.yml

chore: update TimerTrigger interval in FetchAndEnqueuePlaysFunction to 20 minutes
  Services/Gavinhow.SpotifyStatistics.ImportFunction/FetchAndEnqueuePlaysFunction.cs
Due: azure-pipelines.trackimportfunction.yml

chore: remove nginx configuration file
  nginx/nginx.conf
Due: none

chore: refactor anonymization script to run directly on the database and update related dump/restore scripts for improved performance
  scripts/anonymize-data.js
  scripts/dump-data.js
  scripts/restore-data.js
Due: none

feat: introduce structured logging module with Serilog integration and JSON formatting
  AGENTS.md
  Services/Gavinhow.SpotifyStatistics.Logging/Gavinhow.SpotifyStatistics.Logging.csproj
  Services/Gavinhow.SpotifyStatistics.Logging/JsonLogFormatter.cs
  Services/Gavinhow.SpotifyStatistics.Logging/StructuredLoggingExtensions.cs
  Services/Gavinhow.SpotifyStatistics.Web/Gavinhow.SpotifyStatistics.Web.csproj
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
  Services/SpotifyStatistics.sln
Due: azure-pipelines.backend.yml

feat: update to next v16
  BrunoCollection/Healthcheck.bru
  BrunoCollection/bruno.json
  BrunoCollection/environments/Localhost.bru
  BrunoCollection/environments/Prod.bru
  frontend/package-lock.json
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/@unauthenticated/default.tsx
  frontend/src/components/album/album-name-and-picture.tsx
  frontend/src/components/album/appears-on.tsx
  frontend/src/components/album/track-list.tsx
  frontend/src/components/app-sidebar.tsx
  frontend/src/components/artist/artist-name-and-picture.tsx
  frontend/src/components/artist/top-albums-card.tsx
  frontend/src/components/artist/top-songs-card.tsx
  frontend/src/components/dashboard/top-albums-card.tsx
  frontend/src/components/dashboard/top-artist-card.tsx
  frontend/src/components/dashboard/top-songs-card.tsx
  frontend/src/components/play-history/play-history.tsx
  frontend/src/components/top-albums/top-albums.tsx
  frontend/src/components/top-artists/top-artists.tsx
  frontend/src/components/top-navbar/user-switcher.tsx
  frontend/src/components/top-songs/top-songs.tsx
  frontend/src/components/track/track-name-and-picture.tsx
  frontend/src/lib/ApolloProvider.tsx
  frontend/src/lib/authSafeQuery.ts
  frontend/src/lib/client.ts
  frontend/src/lib/logging.ts
  frontend/src/proxy.ts
  frontend/tsconfig.json
Due: none

feat: replace logging implementation with a structured, unified logging system using Pino for server-side and browser-safe contexts
  frontend/next.config.ts
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/app/api/authenticate/route.ts
  frontend/src/app/api/logout/route.ts
  frontend/src/lib/LOGGING.md
  frontend/src/lib/__examples__/logger-examples.ts
  frontend/src/lib/client.ts
  frontend/src/lib/logger-browser.ts
  frontend/src/lib/logger-middleware.ts
  frontend/src/lib/logger.ts
  frontend/src/lib/logging.ts
Due: none

chore: remove unused next-logger dependency from pnpm-lock.yaml
  frontend/pnpm-lock.yaml
Due: none

feat: add health check endpoint and skip unnecessary query for unauthenticated users
  frontend/src/app/(authenticated)/layout.tsx
  frontend/src/app/api/health/route.ts
Due: none

feat: integrate Next.js instrumentation for structured logging, including console bridging and request error handling
  frontend/LOGGING_IMPLEMENTATION.md
  frontend/package.json
  frontend/src/instrumentation.node.ts
  frontend/src/instrumentation.ts
  frontend/src/lib/LOGGING.md
  frontend/src/lib/console-bridge.ts
  frontend/src/lib/logger-browser.ts
  frontend/src/lib/logger.ts
Due: none

feat: add GraphQL request template and standardize log level naming conventions
  BrunoCollection/GraphQL.bru
  frontend/package.json
  frontend/src/lib/logger-browser.ts
  frontend/src/lib/logger.ts
Due: none

fix: handle missing API key with `NoResult` instead of authentication failure
  Services/Gavinhow.SpotifyStatistics.Web/Authorization/Handler/ApiKeyAuthenticationHandler.cs
Due: azure-pipelines.backend.yml

feat: integrate Prometheus-based metrics for queue processing and system observability
  BrunoCollection/GraphQL.bru
  BrunoCollection/Metrics.bru
  BrunoCollection/Test.bru
  BrunoCollection/environments/Localhost.bru
  BrunoCollection/environments/Prod.bru
  Services/Gavinhow.SpotifyStatistics.Web/BackgroundServices/QueueConsumerBackgroundService.cs
  Services/Gavinhow.SpotifyStatistics.Web/Observability/QueueProcessingMetrics.cs
  Services/Gavinhow.SpotifyStatistics.Web/Program.cs
  Services/Gavinhow.SpotifyStatistics.Web/Properties/launchSettings.json
  Services/Gavinhow.SpotifyStatistics.Web/Services/PlaysQueueProcessor.cs
  Services/Gavinhow.SpotifyStatistics.Web/Settings/MetricsSettings.cs
  Services/Gavinhow.SpotifyStatistics.Web/appsettings.json
Due: azure-pipelines.backend.yml

feat: expose additional port 9090 and update metrics endpoint configuration
  BrunoCollection/Metrics.bru
  BrunoCollection/environments/Prod.bru
  Services/Dockerfile.web
  docker-compose.prod.yml
Due: none

Path conditions:
  azure-pipelines.backend.yml: any of: Services/Gavinhow.SpotifyStatistics.Web
  azure-pipelines.trackimportfunction.yml: any of: Services/Gavinhow.SpotifyStatistics.ImportFunction
